In [14]:
import pandas as pd
import numpy as np
import ast
import string

In [15]:
url = "https://raw.githubusercontent.com/nnqomariyah/Fundamentals_of_Data_Science/main/week_3/data/movies_metadata.csv"
df = pd.read_csv(url)

C:\Users\randy\AppData\Local\Temp\ipykernel_18424\2958563461.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [23]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,clean_overview
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,led by woody andys toys live happily in his ro...
1,False,{},65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,when siblings judy and peter discover an encha...
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,a family wedding reignites the ancient feud be...
3,False,{},16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,cheated on mistreated and stepped on the women...
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,just when george banks has recovered from his ...

In [27]:
df['belongs_to_collection'].fillna("{}", inplace=True)
df['genres'].fillna("[]", inplace=True)
df['production_companies'].fillna("[]", inplace=True)
df['production_countries'].fillna("[]", inplace=True)
df['spoken_languages'].fillna("[]", inplace=True)
df['overview'].fillna("", inplace=True)
df['budget'].fillna(0, inplace=True)
df['revenue'].fillna(0, inplace=True)
df['runtime'].fillna(df['runtime'].mean(), inplace=True)

print(df.isnull().sum())

df.fillna("Unknown", inplace=True)

adult                        0
belongs_to_collection        0
budget                       0
genres                       0
homepage                 37673
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                     0
popularity                   5
poster_path                386
production_companies         0
production_countries         0
release_date                90
revenue                      0
runtime                      0
spoken_languages             0
status                      87
tagline                  25045
title                        6
video                        6
vote_average                 6
vote_count                   6
clean_overview               0
dtype: int64

C:\Users\randy\AppData\Local\Temp\ipykernel_18424\1992085007.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("Unknown", inplace=True)
C:\Users\randy\AppData\Local\Temp\ipykernel_18424\1992085007.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Unknown' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.fillna("Unknown", inplace=True)

In [28]:
print(df.isnull().sum())

adult                    0
belongs_to_collection    0
budget                   0
genres                   0
homepage                 0
id                       0
imdb_id                  0
original_language        0
original_title           0
overview                 0
popularity               0
poster_path              0
production_companies     0
production_countries     0
release_date             0
revenue                  0
runtime                  0
spoken_languages         0
status                   0
tagline                  0
title                    0
video                    0
vote_average             0
vote_count               0
clean_overview           0
dtype: int64

In [26]:
def parse_json(column, key):
    try:
        result = "|".join([d[key] for d in ast.literal_eval(column)])
    except (SyntaxError, ValueError, KeyError):
        result = ""
    return result

json_columns = ['belongs_to_collection', 'genres', 'production_companies', 'production_countries', 'spoken_languages']

In [19]:
def clean_text(text):
    text = text.lower()
    text = text.translate(str.maketrans('', '', string.punctuation))
    return text

df['clean_overview'] = df['overview'].apply(clean_text)

In [20]:
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')

# Convert 'release_date' to datetime
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

In [21]:
print(df.duplicated().sum())
df = df.drop_duplicates()

13

In [30]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,clean_overview
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Unknown,Toy Story,False,7.7,5415.0,led by woody andys toys live happily in his ro...
1,False,{},65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Unknown,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,when siblings judy and peter discover an encha...
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Unknown,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,a family wedding reignites the ancient feud be...
3,False,{},16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Unknown,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,cheated on mistreated and stepped on the women...
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",Unknown,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,just when george banks has recovered from his ...

In [22]:
df.to_csv('cleaned_movies_metadata.csv', index=False)